<p id="notice"><%= notice %></p>

<h1>Listing Personal Infos</h1>

<table>
  <thead>
    <tr>
      <th>Height</th>
      <th>Weight</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personal_infos.each do |personal_info| %>
      <tr>
        <td><%= personal_info.height %></td>
        <td><%= personal_info.weight %></td>
        <% id = personal_info.person_id  %>
        <%  person = @people.find(id) %>
        <td><%=  person.first_name%></td>
        <td><%= link_to 'Show', personal_info %></td>
        <td><%= link_to 'Edit', edit_personal_info_path(personal_info) %></td>
        <td><%= link_to 'Destroy', personal_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personal info', new_personal_info_path %>
